body{
    /*background-color: rgba(38,50,56 ,1);*/
    height: 100vh;
    width: 100vw;
    background-image: url(../img/stardust.png),linear-gradient(to left, #212121, #263238);
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a{
    color: rgba(224,224,224 ,1);
    text-decoration:none;
}

.index-contents:hover{
    animation: mouseOver_1 0.5s;
    animation-fill-mode: forwards;
}

@keyframes mouseOver_1{
    100%{
        background-color: rgba(158,158,158 ,1);
    }
}

.index{
    float: right;
    margin-right: 6vw;
}

.horizontalList{
    float: left;
}

.index-contents{
    text-align: center;
    width: 10vw;
    font-size: 3vh;
    color: rgba(224,224,224 ,1);
    padding: 2vh 3vw;
    border-radius: 0 0 2vh 2vh;
    background-color: rgba(158,158,158 ,.1);
}

.index-contents a{
    font-size: 2.5vh;
}

li[class~="index-contents"]{
    display: inline-block;
    vertical-align: top;
}

li[class~="link-contents"]{
    display: inline-block;
}

.links{
    background-color: rgba(158,158,158 ,0.3);
    width: 90vmin;
    height: 20vmin;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.links-img{
    width: 15vmin;
    height: 15vmin;
    padding: 3vmin 3vmin;
}
