@font-face {
	font-family: 'chogokubosogothic';
	src: url("../font/chogokubosogothic_5.ttf");
}

#bg{
	background-color: transparent;
	background-image:
		linear-gradient(0deg, transparent 9.5%,
		rgba(158,158,158 ,.2) 10%, rgba(158,158,158 ,.2) 11%, transparent 12%, transparent 29.5%,
		rgba(158,158,158 ,.1) 30%, rgba(158,158,158 ,.1) 30.5%, transparent 31%, transparent 49.5%,
		rgba(158,158,158 ,.1) 50%, rgba(158,158,158 ,.1) 50.5%, transparent 51%, transparent 69.5%,
		rgba(158,158,158 ,.1) 70%, rgba(158,158,158 ,.1) 70.5%, transparent 71%, transparent 89.5%,
		rgba(158,158,158 ,.1) 90%, rgba(158,158,158 ,.1) 90.5%, transparent 91%, transparent),
		linear-gradient(90deg, transparent 9.5%,
		rgba(158,158,158 ,.2) 10%, rgba(158,158,158 ,.2) 11%, transparent 12%, transparent 29.5%,
		rgba(158,158,158 ,.1) 30%, rgba(158,158,158 ,.1) 30.5%, transparent 31%, transparent 49.5%,
		rgba(158,158,158 ,.1) 50%, rgba(158,158,158 ,.1) 50.5%, transparent 51%, transparent 69.5%,
		rgba(158,158,158 ,.1) 70%, rgba(158,158,158 ,.1) 70.5%, transparent 71%, transparent 89.5%,
		rgba(158,158,158 ,.1) 90%, rgba(158,158,158 ,.1) 90.5%, transparent 91%, transparent);
		height:100%;
		width: 100%;
		background-size:7vh 7vh;
		position: absolute;
		z-index: -1;
	position:fixed;
}

a{
    color: rgba(0,0,0 ,1);
    text-decoration:none;
}

ul > ul > li{
	margin-left: 2em;
}

li{
	line-height: 1.1em;
}


.index{
    border-bottom: solid thin rgba(139,195,74 ,1);
    font-size: 0px;
}

.links > ul{
	position: absolute;
	text-align: center;
	width: 104vmin;
	height: 21vmin;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.link-contents{
	margin: 0 2vmin;
}

.links-img{
    width: 15vmin;
    height: 15vmin;
    padding: 3vmin 3vmin;
	transition: background-color .5s;
}

.links-img:hover{
	background-color: rgba(139,195,74 ,0.3);
}

.word{
    font-family: chogokubosogothic;
    margin-top: 32vh;
    margin-left: 14.6vh;
}

.word span{
    border-bottom: solid thin rgba(139,195,74 ,1);
	transition: background-color .5s,color .5s;
}

.word > h1 > a:hover > span{
	background-color: rgba(139,195,74 ,1);
	color: rgba(255, 255, 255, 1);
}

.word > h1{
    font-size: 7vh;
}

.word span:last-of-type{
    margin-left: 1em;
}

.whatsNew{
	position: absolute;
	margin-top: 21.6vh;
    margin-left: 112.2vh;
}

.whatsNew > h2{
	font-family: chogokubosogothic;
	font-size: 3.5vh;
	margin-left:.85vw;
}

.whatsNew > iframe{
	border:solid thin rgba(139,195,74 ,1);
	box-sizing: border-box;
	width: 62.8vh;
	height: 28vh;
}

.mother{
	padding: 4vh 2.5vw;
}

.mother > ul{
	list-style:none;
}


.profile hr{
		display: block;
	    height: 1px;
	    border: 0;
	    border-top: solid thin rgba(139,195,74 ,1);
	    margin: 1vh 2vw;
	    padding: 0;
}


.firstLine li, .secondLine li, .thirdLine li{
	list-style-type: none;
}


section li::before{
	color : rgba(139,195,74 ,1);
	content: "👓 ";
}

.thirdLine{
	flex-direction: column;
}

.thirdLine > section{
	display: flex;
}

.works-content > a{
	display: block;
	font-family: chogokubosogothic;
	font-weight: bold;
	height: 100%;
	width:100%;
	font-size: 4vh;
	line-height: 8vh;
	transition:background-color .5s, color .5s;
}


.works-content > a:hover{
	color: rgba(255, 255, 255, 1);
	background-color: rgba(139,195,74 ,1);
}

@media (min-aspect-ratio:1/1) {
	.logo{
		position: absolute;
		margin-top: .6vh;
		margin-left: 2vw;
		padding: 1vh 2vw;
		box-sizing: border-box;
		font-size: 5vh;
		font-family: chogokubosogothic;
		font-weight: bold;
		color: rgba(139,195,74 ,1);
		border: dashed rgba(139,195,74 ,1);
		border-radius: 2vh;
		transition: background-color .5s,color .5s,border .5s;
	}

	.index > ul{
	    margin-left: 50vw;
	}

	.index-contents{
	    text-align: center;
		width: 16vw;
	    font-size: 3vh;
	    color: rgba(139,195,74 ,1);
	    border:solid thin rgba(139,195,74 ,1);
	    border-top: 0;
	    border-bottom: 0;
	    border-left: 0;
		box-sizing: border-box;
	    height: 9vh;
		line-height: 9vh;
		transition: background-color .5s;
	}

	.index-contents:hover{
		background-color: rgba(139,195,74 ,1);
	}

	.index-contents:hover > a{
		color: rgba(255, 255, 255, 1);
	}

	.index-contents:first-of-type{
	    border:solid thin rgba(139,195,74 ,1);
	    border-top: 0;
	    border-bottom: 0;
	}

	li[class~="index-contents"]{
	    display: inline-block;
	    vertical-align: top;
	}

	li[class~="link-contents"]{
	    display: inline-block;
	}
	.index-contents > a{
		width: 100%;
		height: 100%;
		display: block;
		font-size: 2.5vh;
		transition: color .5s;
	}

	.logo:hover{
		background-color: rgba(139,195,74 ,1);
		color: rgba(255, 255, 255, 1);
		border: dotted rgba(255,255,255 ,1);
	}


	.setDiv{
	    display: flex;
	    display: -moz-flex;
	    display: -o-flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    flex-direction: row;
	    -moz-flex-direction: row;
	    -o-flex-direction: row;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	}

	.profile h2{
		font-size: 3vh;
		margin: 0.5vh 0;
	}

	.profile h3{
		font-size: 2.5vh;
		margin: 0.5vh 0;
	}

	.profile-contents{
		margin-top: 1vh;
	}

	.firstLine,.secondLine,.thirdLine{
		display: flex;
		margin-left: 3vw;
	}

	.firstLine > section,.secondLine > section,.thirdLine > section > section{
		margin: 0 3vw 1vh 0;
	}


	.works-content{
		height: 8vh;
		width: 50vw;
		margin:2vh auto;
		text-align: center;
		border:solid thin rgba(139,195,74 ,1);
		position: relative;
	}

	.works-content > a{
		display: block;
		font-family: chogokubosogothic;
		font-weight: bold;
		height: 100%;
		width:100%;
		font-size: 4vh;
		line-height: 8vh;
		transition:background-color .5s, color .5s;
	}
}

@media (max-aspect-ratio:1/1) {
	.logo{
		position: absolute;
		margin-top: 2vh;
		/* margin-left: 3vw; */
		padding: 0.5vh 1vw;
		box-sizing: border-box;
		font-size: 3vh;
		font-family: chogokubosogothic;
		font-weight: bold;
		color: rgba(139,195,74 ,1);
		border: dashed rgba(139,195,74 ,1);
		border-radius: 1vh;
		width: 34vw;
    	text-align: center;
	}

	.index > ul{
		margin-left: 34vw;
	}

	.index-contents{
	    text-align: center;
		width: 22vw;
	    font-size: 1vh;
	    color: rgba(139,195,74 ,1);
	    border:solid thin rgba(139,195,74 ,1);
	    border-top: 0;
	    border-bottom: 0;
	    border-left: 0;
		box-sizing: border-box;
		height: 8vh;
	    line-height: 8vh;
	}

	.index-contents:first-of-type{
	    border:solid thin rgba(139,195,74 ,1);
	    border-top: 0;
	    border-bottom: 0;
	}

	li[class~="index-contents"]{
	    display: inline-block;
	    vertical-align: top;
	}

	li[class~="link-contents"]{
	    display: inline-block;
	}

	.index-contents > a{
		width: 100%;
		height: 100%;
		display: block;
		font-size: 2.5vh;
		transition: color .5s;
	}


	.word{
	    font-family: chogokubosogothic;
	    margin-top: 10vh;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.word span{
	    border-bottom: solid thin rgba(139,195,74 ,1);
		transition: background-color .5s,color .5s;
	}

	.word > h1 > a:hover > span{
		background-color: rgba(139,195,74 ,1);
		color: rgba(255, 255, 255, 1);
	}

	.word > h1{
	    font-size: 8vw;
	}

	.word span:last-of-type{
	    margin-left: 0;
	}

	.whatsNew{
		position: relative;
		margin-top: 10vh;
	    margin-left: auto;
		margin-right: auto;
		width: 80vw;
		height: 28vh;
	}

	.whatsNew > h2{
		font-family: chogokubosogothic;
		font-size: 3.5vh;
		margin-left:.85vw;
	}

	.whatsNew > iframe{
		border:solid thin rgba(139,195,74 ,1);
		box-sizing: border-box;
		width: 80vw;
		height: 25vh;
	}

	.profile h2{
		font-size: 1.5vh;
		margin: 0.5vh 0;
	}

	.profile h3{
		font-size: 1vh;
		margin: 0.5vh 0;
	}

	.profile-contents{
		margin-top: 1vh;
	}

	.firstLine,.secondLine,.thirdLine{
		display: flex;
		margin-left: 3vw;
	}

	.firstLine > section,.secondLine > section,.thirdLine > section > section{
		margin: 0 3vw 1vh 0;
	}

	.secondLine ,.thirdLine > section {
		flex-direction : column;
	}

	.works-content{
		height: 6vh;
		width: 80vw;
		margin:3vh auto;
		text-align: center;
		border:solid thin rgba(139,195,74 ,1);
		position: relative;
	}

	.works-content > a{
		display: block;
		font-family: chogokubosogothic;
		font-weight: bold;
		height: 100%;
		width:100%;
		font-size: 3vh;
		line-height: 6vh;
		transition:background-color .5s, color .5s;
	}
}
